.home{
  padding-top: 140px;
  padding-bottom: 120px;
  background-color: #000;
  height: 600px;
}
.typist{
  margin-left: 90px;
  text-align: left;
  font-family: 'roboto';
  font-size: 25px;
}
.onetab{
  margin-left: 20px;
}
.twotab{
  margin-left: 30px;
}
.gray{
  color:gray;
  font-style: italic;
}
.white{
 color: #fff;
}
.pink{
 color: #df769b;
 font-weight: bolder;
}
.orange{
 color: #e56332;
}
.blue{
 color: #129ab5;
}
.yellow{
 color: #e4b781;
}
.green{
 color: #49e9a6;
}


