.footer{
  padding-bottom: 30px; 
  padding-top: 20px; 
  height: 100px;
}

.link-icons{
  margin:15px;
  width: 50px;
  height: auto;
  transition: transform .2s; /* Animation */
}
.link-icons:hover{
  transform: scale(1.3);
}